<!-- index.html.erb -->
<div class="container">
  <div class="all-cards">
    <% @houses.each do |house| %>

      <div class="house-card-wrapper">
        <div class="house-card" style="background-image: url(<%= house.photo %>)">
        </div>
          <div class="house-card-info">
            <p><%= house.price %>$</p>
            <%= link_to house.title, house_path(house), class: 'card-link' %>
          </div>
      </div>
    <% end %>
  </div>
  <div
    id="map" style="width: 45%; height: 100vh; "data-markers="<%= @markers.to_json %>"data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
</div>


