<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1>Create New Flat</h1>

      <%= simple_form_for @house do |f| %>
        <%= f.label :title %>
        <%= f.text_field :title %>

        <%= f.input :price %>

        <%= f.input :description %>

        <%= f.input :address %>

        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>

        <p>Bedrooms</p>
        <%= f.select :bedrooms, %w[1 2 3 4 5 6 7 8 9 10] %>

        <p>Capacity</p>
        <%= f.select :capacity, %w[1 2 3 4 5 6 7 8 9 10] %>

        <p>Category</p>
        <%= f.select :category, %w[Entire_home Private_room Shared_room}] %>

        <!-- require photo // cloudinary -->

        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>
