<!-- show.html.erb -->
<%= cl_image_tag @house.photo, height: 300, width: 400, crop: :fill %>
<h2><%= @house.title %></h2>
<p>Address: <%= @house.address %></p>
<p>
  <%= link_to 'Back to main page', houses_path, class: "btn btn-primary" %>
</p>
<br>

<h3>Description</h3>
<%= @house.description %>

<div class="booking_creation_form">
<%= render 'shared/form_bookings' %>
</div>

<h3>Reviews</h3>
<% @reviews.each do |review| %>
  <p><%= "*" * review.stars %></p>
  <p><%= review.comment %></p>
<% end %>

<% unless current_user.bookings.where(house: @house).empty? %>
  <%= simple_form_for ([@booking_to_review, @review]) do |f| %>

    <%= f.input :stars, collection: 0..5 %>
    <%= f.label :comment %>
    <%= f.text_field :comment %>
    <%= f.submit %>

  <% end %>
<% end %>
