<!-- BODY -->
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="booking-s-container" bgcolor="#FFFFFF">
      <div class="content">
      <table>
        <tr>
          <td>
            <br/>
            <h3>Thanks <%= @booking.user.firstname.capitalize %>!</h3>

            <p><%= image_tag "#{@booking.house.photo}", class: "booking-summary-picture" %></p>

            <br/>

            <h4>Your booking summary</h4>
            <p class="book-sum">Thank you for booking <b><%= @booking.house.title %></b>. Your booking has been placed successfully, and is pending for host approval.</p>

            <hr>

            <br/>
            <p>From <%= @booking.checkin_date %> to <%= @booking.checkout_date %>
            </p>
            <p>Nigths:
              <%= (@booking.checkout_date - @booking.checkin_date).to_i %>
            </p>
            <p>Guests:
              <%= @booking.guests %>
            </p>
            <p>
              Status: pending to be approved by host
            </p>
            <hr>
            <h4><b>Total: $<%= (@booking.checkout_date - @booking.checkin_date).to_i * @house.price %></b></h4>
            <br/>
            <br/>
            <p style="text-align:center;">
              <%= link_to 'View you bookings', dashboard_pages_path, class: "booking-btn" %>
            </p>

            <br/>
          </td>
        </tr>
      </table>
      </div>
    </td>
  </tr>
</table>
<!-- /BODY -->

<!-- FOOTER -->
<table class="footer-wrap" bgcolor="#EFEFEF">
  <tr>
    <td class="booking-s-container">

      <!-- content -->
      <div class="content">
      <table>
        <tr>
          <td align="center">
            <p>Thank you for bookign with <%= link_to 'AliBnb', houses_path %>
            <p><small>© AliBnb</small></p>
          </td>
        </tr>
      </table>
      </div>
      <!-- /content -->
    </td>
  </tr>
</table>
<!-- /FOOTER -->

