
<div class="booking-summary">
<h1>Your booking summary</h1>

<p>From <%= @booking.checkin_date %> to <%= @booking.checkout_date %>
</p>
<p>Nigths:
  <%= (@booking.checkout_date - @booking.checkin_date).to_i %>
</p>
<p>Price:
  $<%= (@booking.checkout_date - @booking.checkin_date).to_i * @house.price %>
</p>
<p>Guests:
  <%= @booking.guests %>
</p>
<p>
  Status: pending to be approved by host
</p>
<br>
<p>
  <%= link_to 'Back to main page', houses_path, class: "myButton" %>
</p>
<br>
<p>
  <%= link_to 'Your dashboard', dashboard_pages_path, class: "myButton2" %>
</p>
</div>
