
<div class="dashboard-content">
  <h1>Dashboard</h1>
  <div class="dashboard-container">
    <% if !@houses.empty? %>
      <div class="dashboard-listings board">
        <h3>My listings</h3>
        <div class="dashboard-cards">
          <% @houses.each do |house| %>
            <div class="dashboard-card listing-card">
              <div class="dashboard-listings card-header">
                <%= image_tag "#{house.photo}", class: "dashboard-picture" %>
                <div class="dashboard-listings card-body">
                  <h4><%= link_to house.title, house_path(house), class: 'card-link' %>
                  </h4>
                  <p>At <%= house.address %></p>
                </div>
              </div>
              <div class="dashboard-listings-card-footer">
                <ul>
                  <% house.bookings.each do |booking| %>
                    <li class="booking-confirmation">
                      <p><b><%= booking.user.firstname.capitalize %></b> has booked your place from <%= booking.checkin_date %> to <%= booking.checkout_date %></p>
                      <% if booking.status == "pending" %>
                        <p><%= link_to "Approve", booking_approve_path(booking), method: :patch %> or <%= link_to "Reject", booking_reject_path(booking), method: :patch %> the booking</p>
                        <% else %>
                        <p>You have <%= booking.status %> the booking.</p>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if !@bookings.empty? %>
      <div class="dashboard-bookings board">
        <h3>My bookings</h3>
        <div class="dashboard-cards">
          <% @bookings.each do |booking| %>
            <div class="dashboard-card booking-card">
              <div class="dashboard-booking card-header">
                <%= image_tag "#{booking.house.photo}", class: "dashboard-picture" %>
                <div class="dashboard-booking card-body">
                  <h4><%= link_to booking.house.title, house_path(booking.house), class: 'card-link' %></h4>
                  <p>From <%= booking.checkin_date %> to <%= booking.checkout_date %> </p>
                  <p>Guests: <%= booking.guests %> Nights: <%= (booking.checkout_date - booking.checkin_date).to_i %> Price: $<%= (booking.checkout_date - booking.checkin_date).to_i * booking.house.price %></p>
                  <p>Booking status: <%= booking.status %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
