<h1>Dashboard</h1>

<div class="dashboard container">

  <div class="listings-board">
    <h3>My listings</h3>
    <div class="listings-cards">
      <% @houses.each do |house| %>
        <div class="listings-card">
          <div class="listings card-header">
            <%= image_tag "#{house.photo}", class: "dashboard_picture" %>
            <div class="listings-body">
              <h3><%= link_to house.title, house_path(house), class: 'card-link' %>
              </h3>
              <p>At <%= house.address %></p>
            </div>
          </div>
          <div class="listings-card-footer">
            <ul>
              <% house.bookings.each do |booking| %>
                <p>Listing is pending for approval from <%= booking.user.firstname %> from <%= booking.checkin_date %> until <%= booking.checkout_date %> </p>
                <p><%= link_to "Approve", booking_approve_path(booking), method: :patch %></p>
                <p><%= link_to "Reject", booking_reject_path(booking), method: :patch %></p>
                <%= booking.status %>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="bookings-board">
    <h3>My bookings</h3>
    <div class="bookings-cards">
      <% @bookings.each do |booking| %>
        <div class="dashboard-bookings-card">
          <div class="booking card-header">
            <%= image_tag "#{booking.house.photo}", class: "dashboard_picture" %>
            <div class="booking-card-body">
              <%= booking.house.title %>
              <p>From <%= booking.checkin_date %> to <%= booking.checkout_date %> </p>
              <p>Booking status: <%= booking.status %></p>
              <p>Guests: <%= booking.guests %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
